

.aktualita_detail {

  max-width: 1200px;
  border-left: 5px solid red;
  margin: auto;
  padding-left: 28px;
  padding-right: 28px;

}

#nazev_aktuality {

  font-family: 'Signika', sans-serif;
  font-size: 35px;
  border-bottom: 3px solid black;
  margin-bottom: -8px;

}

#aktualita_h2 {

  font-family: 'Signika', sans-serif;
  font-size: 40px;
  text-align: center;

}

.aktualita_detail p {

  font-family: 'Signika', sans-serif;

}

.aktualita_section {

  background-color: #f2f2f2;
  max-width: 1400px;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  margin-top: -40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 30px;

}

.aktualita_aktuality {

  max-width: 1200px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.aktualita_aktuality div {

  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border-top: 3px solid red;
  margin-top: 20px;

}

.aktualita_aktuality_content {

  color: #686868;
  display: block;

}


.aktualita_aktuality_small_info {

  text-align: center;

}

.aktualita_aktuality h4 {

  font-family: 'Signika', sans-serif;
  font-size: 25px;
  text-align: center;
  color: #4f4f4f;

}

.obr_aktuality_detail {

  display: table;
  margin: auto;
  text-align: center;

}

.info_akce_detail {

  width: 500px;

}

.info_akce_detail h3 {

  font-size: 26px;
  text-decoration: underline;
  margin-top: 10px;
  font-family: 'Signika', sans-serif;

}

.info_akce_detail p {

  font-size: 20px;
  font-family: 'Signika', sans-serif;

}

.info_akce_detail img {

  width: 30px;
  height: 30px;
  position: relative;
  top: 9px;
  margin-right: 15px;

}

.akce_detail {

  max-width: 1200px;
  border-left: 5px solid red;
  margin: auto;
  padding-left: 28px;
  padding-right: 28px;
  display: flex;

}

.obsah_akce_detail {

  padding: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Signika', sans-serif;
  max-width: 700px;
  width: 100%;

}

.kalendar {

  font-size: 23px;
  font-family: 'Signika', sans-serif;

}

.kalendar_container{

    margin: 0 auto;
    width: 282px;

}

.kalendar_container p{

  font-size: 13px;
  word-break: break-word;
  font-family: 'Signika', sans-serif;

}

.kalendar td {

  padding: 5px;
  border: 2px solid #f2f2f2;
  border-radius: 10px;

}

.den_akce_v_kalendari{

  color: red;
  text-decoration: none;

}

#kalendar_nadpis{

  font-family: 'Signika', sans-serif;
  text-align: center;

}

.obsah_akce{

  display: flex;
  flex-wrap: wrap;

}

.bud_akce{

  display: flex;
  overflow-x: scroll;
  width: 800px;
  margin: auto;
  scroll-behavior: smooth;

}
