/*__Fonts__*/
/*  
font-family: 'Signika', sans-serif; 
font-family: 'Hammersmith One', sans-serif;
*/

.oddil_zalozka {
  width: 100%;
  height: 227px;
  margin: auto;
  border-radius: 10px;
}

.rodic_sport {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.sporty_zalozka {
  display: block;
  border: 1px solid black;
  margin-bottom: 20px;
}

.popis_oddil {
  float: left;
  font-family: "Signika", sans-serif;
  font-size: 10px;
}

.foto_oddil {
  float: right;
}
