form {
  
  width: 100%;

}

#cke_upoutavka {

  max-width: 850px;
  width: 100%;
  margin: auto;

}

#cke_obsah {

  max-width: 850px;
  width: 100%;
  margin: auto;

}

label {

  font-family: 'Signika', sans-serif;
  font-size: 20px;

}

.input_nazev {

  padding: 10px;
  width: 500px;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 18px;

}

.input_kategorie{

  padding: 10px;
  width: 230px;
  border: 2px solid red;
  border-radius: 10px;
  font-size: 18px;

}
