h3 {

    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 22px;

}

form {

    text-align: center;

}

.input_nazev {

  height: 40px;
  max-width: 300px;
  width: 100%;
  font-size: 21px;
  font-family: 'Signika', sans-serif;

}

.input_kategorie {

  height: 40px;
  max-width: 200px;
  width: 100%;
  font-size: 18px;
  font-family: 'Signika', sans-serif;

}


.input_submit {

  font-size: 22px;
  margin-bottom: 20px;
  padding: 10px;
  color: white;
  background-color: red;
  border: 0px;
  border-radius: 10px;

}

.input_submit:hover {

    background-color: #ff6666;

}

#cke_upoutavka {

  max-width: 850px;
  width: 100%;
  margin: auto;

}

#cke_obsah {

  max-width: 850px;
  width: 100%;
  margin: auto;

}
